/* Custom Button Styling */
.custom-btn {
    background-color: rgb(14, 122, 129); /* Your custom primary color */
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.4s ease, background-color 0.4s ease; /* Slower transition */
  }
  
  /* Hover Effect - Grow and Background Change */
  .custom-btn:hover {
    transform: scale(1.1); /* Grow the button on hover */
    background-color: rgba(14, 122, 129, 0.8); /* Slight opacity change on hover */
  }
  
  /* Google Fonts */
  .lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  